<!DOCTYPE html>
<html lang="en">

<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%=user%></p>

 

<body>

<script src="app.js"></script>


<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href= "/users/messagebox" class= "btn btn-secondary">Message</a>


</body>
</html>



